<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- viewport is important for responsive view -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vue Wizard Demo Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.css'/>

  <link rel="stylesheet" href="vue-wizard.css">

  <!-- load Vue.js development version -->
  <script src="https://unpkg.com/vue"></script>

  <style>
    /* Show it is fixed to the top */
    body {
      /*min-height: 75rem;*/
      padding-top: 4.5rem;
    }
  </style>

</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">AgentReva Search</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div id="query-app">
    <div class="input-group mb-2">
      <input type="text" class="form-control form-control-lg" id="inputFirstName" 
             v-model="query"
             placeholder="search all">
      <span class="input-group-btn">
      <button class="btn btn-outline-primary" type="submit" 
              v-on:click="simpleQuery">Query</button>
      </span>
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span id="restBaseUrl-addon" class="input-group-text">REST API Base URL: </span>
      </div>
      <input type="text" class="form-control" id="restBaseUrl"
             aria-describedby="restBaseUrl-addon"
             v-model="baseUrl"
             placeholder="RESTful API base URL https://www.rest.com">
    </div>
    <p>
      <h3>Result List, total {{totalHits}}</h3>
      <h4>Session ID: {{sessionId}}</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="(doc, index) in results">
          {{index + 1}} : {{doc.fields['.id'][0]}} - {{doc.fields.title[0]}} - {{doc.fields.description[0]}}
        </li>
      </ul>
    </p>
  </div>
</div>

<!-- templates for components -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- the js file has to be at the bottom. -->
<script src="query-delete.js"></script>
</body>
</html>
